@import url('https://fonts.googleapis.com/css2?family=Karla&family=Roboto&display=swap');


#main{
    background: #222222;
    background-image: linear-gradient(0deg, transparent, rgba(203, 199, 255, 0.1));
    font-family: Karla, Sans-Serif;
    color: #cacccc;
    margin: auto;
    margin-top: 20px;
    width: 85vw;
    max-width: 1800px;
}

#header-div {
    display: flex;
}

header {
    font-family: Montserrat, Sans-Serif;
    font-size: 32px;
    flex-grow: 1;
}

header b{
    font-family: Montserrat, Sans-Serif;
    margin: 0;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(10deg, rgba(225,199,255,1) 25%, rgba(4,154,200,1));
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2, h3, summary{
    font-family: Montserrat, Sans-Serif;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
}

h2::before, h3::before, summary::before{
    content: '# ';
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(10deg, rgba(225,199,255,1) 25%, rgba(4,154,200,1));
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

summary{
    cursor: pointer;
    list-style: none;
}

summary::after{
    display: inline-block;
    content: '▼';
    padding: 0 5px 0 5px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(10deg, rgba(225,199,255,1) 25%, rgba(4,154,200,1));
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration: 0.2s;
}

details[open] summary::after{
    transform: rotate(-90deg);
    transition-duration: 0.2s;
}

*::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    }
*::-webkit-scrollbar-track{
    background:  #393a3a;
    }
*::-webkit-scrollbar-thumb{
    background-color: #aaa6cf;
    border-radius: 4px;
    }

.large-hr{
    background-image: linear-gradient(-90deg, transparent, rgb(203, 199, 255) 5% 95%, transparent 100%);
    height: 2px;
    border: none;
}

.small-hr{
    background:rgb(255, 255, 255, 0.5);
    height: 1px;
    width: 95%;
    border: none;
}

#main-content {
    display: grid;
    grid-template-columns: auto auto;
}

/* FUMEN UTIL */

textarea{
    width: 80vw;
    max-width: 900px;
    height: 150px;
    background: #24233d42;
    border: solid #7b789e 1px;
    padding: 7px;
    margin: 4px;
    color: white;
    font-family: Karla;
    font-size: 14px;
    resize: show;
    }

figcaption{
    width: 100%;
    margin-top: 1px;
}

.commentDisplay{
    height: 24px;
    width: inherit;
    border: 0px !important;
    outline: solid #aaa6cf 1px;
    margin: 0px;
    font-size: 14px;
    padding: 0px;
    text-align: center;
    resize: none;
}

input, select{
    height: 1.5em;
    font-size: 1em;
    font-family: Karla, Sans-Serif;
    font-weight: 600;
    background: #aaa6cf;
    border: none;
    color: rgb(46, 31, 43);
    margin: 2px;
    text-align: center;
    }

input[type="number"], input[type="value"]{
    width: 4em;
    }

input[type="checkbox"]{
    color: #261c27;
    accent-color: #e1d6ff;
    background-color: #d517ff;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    }

figure{
    display: flex;
    flex-flow: row wrap;
    padding: 0 0.5px;
    margin: 0.5px 0 !important;
    width: min-content;
    height: min-content;
}

.imageOutput{
    padding: 0px;
}

#imageOutputs{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#rowOutput {
    display: flex;
}

.fourImageOutput {
    background: rgba(181, 176, 252, 0.1);
    outline: solid #aaa6cf 1px;
}

.fumenImageOutput {
    outline: solid #585b5b 1px;
}

.fumenOperations{
    margin-right: 30px;
    text-align: right;
}

/* SETTINGS COLUMNS */
.option, .ibtn, .pageButton{
    background: #201631;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(239, 252, 255);
    font-family: Karla;
    font-weight: 400;
    display: inline-block;
    font-size: 14px;
    margin: 4px 0px 4px 0px;
    cursor: pointer;
    border-radius: 1px;
    border: none;
    height: 24px;
}

.option:hover, .ibtn:hover {
    background-color: #3c2e3f;
    outline: solid rgb(203, 199, 255) 1px;
    transition-duration: 0.1s;
}

input[type='radio'] {
    display: none;
}

/* PAINT BUCKET */
.paint-bucket {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    background: transparent;
    border-radius: 1px;
    width: 290px;
    margin-top: 6px;
    margin-bottom: 0px;
}

.paint-bucket input[class='paintbucket'] + span {
    content: '';
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 10%;
    border-style: double;
    filter: brightness(50%);
    padding: 2px;
}

.paint-bucket input[class='paintbucket']:hover + span {
    border-color: rgb(227, 217, 255);
    filter: brightness(75%);
}

.paint-bucket input[class='paintbucket']:checked + span {
    border-color: rgb(227, 217, 255);
    filter: brightness(100%);
}

.paint-bucket input[id='X'] + span {background: #c5c5c5;}
.paint-bucket input[id='I'] + span {background: #41afde;}
.paint-bucket input[id='J'] + span {background: #1983bf;}
.paint-bucket input[id='S'] + span {background: #66c65c;}
.paint-bucket input[id='O'] + span {background: #f7d33e;}
.paint-bucket input[id='Z'] + span {background: #ef624d;}
.paint-bucket input[id='L'] + span {background: #ef9535;}
.paint-bucket input[id='T'] + span {background: #b451ac;}

.paint-bucket label > span > span {
    color: black;
}

#editorMode {
    align-self: center;
}

/* SIDEBAR */
.fumen-header{
    display: flex;
    justify-content: center;
    background: #23212c;
    border-radius:3px;
    margin: 0 20px 0 20px;
    height: 40px;
}

.pepega{
    vertical-align: middle;
}

.fumen-main{
    padding: 20px 0px 20px 0px;
    height: 100%;
}

#settings-body {
    display: flex;
    width: 85vw;
    max-width: 900px;
    justify-content: space-around;
}

#settings-panel {
    background: #685e6e66;
    border-radius: 10px;
    flex: 1;
    width: 30vw;
    max-width: 400px;
    padding: 10px 50px 10px 50px;
    margin: 10px;
}

.fumen-body{
    display: flex;
    margin-right: 10px;
    margin-left: 15px;
}

.left-fumen-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-fumen-panel{
    flex: 1;
    margin-top: 9px;
    text-align: left;
    display: grid;
    justify-content: space-between;
    height: auto;
}

.bottom-right-fumen-panel{
    text-align: center;
    height: 125px;
}

#board{
    width: 220px;
    height: 440px;
    margin-top: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

.panel-button, .option-left{
    position: fixed;
    top: -3px;
    right: 1px;
    border-radius: 0 0 0 10px;
    height: 40px;
    width: 40px;
    outline: solid rgb(203, 199, 255) 1px;
}

#fumenSidebar{
    font-family: Montserrat, Sans-Serif;
    text-align: center;
    height: 100%;
    width: 500px;
}

#settingsSidebar{
    color: #ececec;
    background: #4c4459cc;
    padding-bottom: 20px;
    text-align: left;
    display: block;
    /* flex-wrap: wrap; */
    align-content: center;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0px;
    padding-top: 30px;
}

.settingsBody{
    font-family: Karla, Sans-serif;
    font-weight: 600;
    margin: auto;
    width: 220px;
    padding: 10px 5px 10px 5px;
    background: #000000A0;
    border-radius: 2px;
}

.settings-header{
    text-align: center;
    margin: 2px;
    padding: 5px 10px 0px 10px;
}

.extrasettings{
    margin-top: 10px;
}

.extrasettings > div{
    margin: 0px auto 0px 10px;
}

#boardOutput{
    width: 168px;
    height: 79px;
    resize: none;
}

.fumen-option {
    background:#1e1e30;
    border: none;
    padding-left: 6px;
    padding-right: 6px;
    color: rgb(239, 252, 255);
    font-family: Karla;
    text-align: left;
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
    border-radius: 2px;
    width: 180px;
    height: 24px;
}

.confirm-delete-data{
    background-color: rgb(131, 43, 43);
    border: 1px solid #ffb5b5da;
    color: rgb(255, 0, 0);
    font-family: Montserrat, Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}

.fumen-option:hover, .addonButton:hover, .pageButton:hover{
    background-color: #5f5e81;
    height: 24px;
    padding-top: 2px;
    transition: linear;
    transition-duration: 0.1s;
}

.confirm-delete-data:hover{
    background-color: #ff0000;
    color: rgb(71, 0, 0);
    transition: linear;
    transition-duration: 0.1s;
}

#commentBox{
    width: 220px;
    height: 25px;
    resize: none;
    padding: 1px;
    font-size: 14px;
    margin-top: 4px;
}

.page{
    text-align: center;
    padding: 3px;
    margin-left: 2px;
    margin-top: 3px;
}

.pagePosition {
    text-align: center;
    margin: 2px 0 2px 0;
    width: 198px;
    border-radius: 1px;
    height: 30px;
}

.import-export{
    display: grid;
    align-content: center;
    border-radius: 1px;
    justify-content: center;
    text-align: center;
    background-color: #23212c66;
    height: auto;
}

.pager { /* redundant? */
    display: inline-block;
    vertical-align: middle;
}

.square-button{
    display: inline-block;
    vertical-align: middle;
}

#positionDisplay, #positionDisplayOver{
    width: 35px;
    height: 30px;
    text-align: right;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-right: -2px;
    background:#1e1e30;
    color: rgb(253, 253, 253);
    font-family: monospace;
    font-size: x-large;
}

#positionDisplay:focus{
    outline-width: 0;
}

#positionDisplayOver{
    width: 45px;
    height: 30px;
    text-align: left;
    margin-right: 2px;
    margin-left: -3px;
}

#ae-label{ /*not used?*/
    height: 25px;
    width: 100px;
    background-color: rgb(214, 214, 214);
    border: 1px solid #b4b4b4da;
    padding-left: 6px;
    padding-right: 6px;
    color: rgb(32, 32, 32);
}

.pageButton{
    width: 30px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    border: none;
}

.pageButton .material-icons{
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin-left: -7px;
    margin-bottom: 6px;
}

/*TOOLTIPS*/
.tooltip {
    position: relative;
    display: inline-block;
    }

.tooltip .tooltiptext {
    display: none;
    width: 120px;
    background-color: #00000088;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #000000cc;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-style: normal;
    position: absolute;
    z-index: 1;
}
  
.tooltip:hover .tooltiptext {
    display: block;
    top: -5px;
    right: 105%;
}

.hide-element {
    display: none !important;
    max-height: 0px !important;
}

.disabled {
    opacity: 0.5;
}